@model IEnumerable<MaisMarinhaWeb.Models.CapitaniaModel>

@{
    ViewData["Title"] = "Capitanias";
}
    <link rel="stylesheet" type="text/css" href="~/lib/datatable/css/jquery.dataTables.min.css" />

<h1 class="mt-3 mb-3">Capitanias</h1>

<p>
    <a class="br-button primary mt-3 mb-3" asp-action="Create">Adicionar Novo</a>
</p>

<table id="tableCapitania" class="table mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetareaV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetareaV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioFim)
            </td>
            <td>
                    <i class="fas fa-edit"></i>
                    @Html.ActionLink("Detalhes", "Details", new {  id=item.Id  })
                    <i class="fas fa-trash-alt"></i>
                    @Html.ActionLink("Deletar", "Delete", new {  id=item.Id  })
             </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tableCapitania').DataTable({
                language: {
                    url: '/lib/datatable/js/pt-BR.json'
                }
            });
        });
    </script>

    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
}
