@model MaisMarinhaWeb.Models.CursoModel

@{
    ViewData["Title"] = "Delete";
}

<div class="mt-3 mb-3">
    <a class="br-button primary" asp-action="Index"><i class="fas fa-chevron-left"></i>Voltar</a>
</div>
<h3>Você quer mesmo deletar isto?</h3>
<div>
    <h4>CursoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeVagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeVagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requisitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requisitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioInscricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimInscricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCapitania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCapitania)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
