@model IEnumerable<MaisMarinhaWeb.Models.CursoModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/lib/datatable/css/jquery.dataTables.min.css" />

<h1 class="mt-3 mb-3">Cursos</h1>

<p>
    <a class="br-button primary mt-3 mb-3" asp-action="Create">Adicionar Novo</a>
</p>

<table id="tableCurso" class="table mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimInscricao)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimInscricao)
            </td>
                <td>
                    <i class="fas fa-edit"></i>
                    @Html.ActionLink("Detalhes", "Details", new {  id=item.Id  })
                    <i class="fas fa-trash-alt"></i>
                    @Html.ActionLink("Deletar", "Delete", new {  id=item.Id  })
                </td>

        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tableCurso').DataTable({
                language: {
                    url: '/lib/datatable/js/pt-BR.json'
                }
            });
        });
    </script>

    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
}
