@model MaisMarinhaWeb.Models.ConcursoModel

@{
    ViewData["Title"] = "Details";
}

<div class="mt-3 mb-3">
    <a class="br-button primary mr-5" asp-action="Index"><i class="fas fa-chevron-left"></i>Voltar</a>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.Id},new {@class="br-button primary"})
</div>

<div class="align-div-center mb-3">
    <h1 class="create-headline">Concurso @Html.DisplayFor(model => model.Nome)</h1>
</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicialInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicialInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFinalInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataProva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataProva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vagas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vagas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etapas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etapas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTecnica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaTecnica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalProva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalProva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma)
        </dd>
</div>






